* { margin: 0; padding: 0; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
button::-moz-focus-inner { padding: 0; border: 0; }

input[type="submit"]::-moz-focus-inner { padding: 0; border: 0; }

body { font-family: Arial,sans-serif; font-weight: normal; font-size: 12px; line-height: 1.4; }

a img, fieldset { border: none; }

.l { width: 100%; display: inline-block; }
.l .l-col1 { float: left; width: 20%; }
.l .l-col2 { float: right; width: 70%; }

.layout { background: url(../img/bg_body2.jpg) center 120px repeat; background-attachment: fixed; background-size: cover; padding-bottom: 80px; }

header { background: url(../img/bg_header.png) center 0 repeat; height: 80px; border-bottom: 1px solid #baaa61; }

.main_wrap { padding-left: 90px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; overflow: hidden; *zoom: 1; }

.main_content { float: left; width: 571px; padding: 10px 0 10px 20px; }

.sidebar { float: right; width: 219px; padding-top: 10px; padding-left: 30px; }

/* jQuery FlexSlider v2.2.0 http://www.woothemes.com/flexslider/  Copyright 2012 WooThemes Free to use under the GPLv2 license. http://www.gnu.org/licenses/gpl-2.0.html  Contributing author: Tyler Smith (@mbmufffin) */
/* Browser Resets
*********************************/
.flex-container a:active, .flexslider a:active, .flex-container a:focus, .flexslider a:focus { outline: none; }

.slides, .flex-control-nav, .flex-direction-nav { margin: 0; padding: 0; list-style: none; }

/* Icon Fonts
*********************************/
/* Font-face Icons */
@font-face { font-family: 'flexslider-icon'; src: url("../fonts/flexslider-icon.eot"); src: url("../fonts/flexslider-icon.eot?#iefix") format("embedded-opentype"), url("../fonts/flexslider-icon.woff") format("woff"), url("../fonts/flexslider-icon.ttf") format("truetype"), url("../fonts/flexslider-icon.svg#flexslider-icon") format("svg"); font-weight: normal; font-style: normal; }

/* FlexSlider Necessary Styles
*********************************/
.flexslider { margin: 0; padding: 0; }

.flexslider .slides > li { display: none; -webkit-backface-visibility: hidden; }

/* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img { width: 100%; display: block; }

.flex-pauseplay span { text-transform: capitalize; }

/* Clearfix for the .slides element */
.slides:after { content: "\0020"; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }

html[xmlns] .slides { display: block; }

* html .slides { height: 1%; }

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you include js that eliminates this class on page load */
.no-js .slides > li:first-child { display: block; }

/* FlexSlider Default Theme
*********************************/
.flexslider { position: relative; zoom: 1; }

.flex-viewport { max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; -o-transition: all 1s ease; transition: all 1s ease; }

.loading .flex-viewport { max-height: 300px; }

.flexslider .slides { zoom: 1; }

.carousel li { margin-right: 18px; }

/* Direction Nav */
.flex-direction-nav { height: 0; margin-top: -20px; margin-top: -1.2rem; position: absolute; text-align: center; left: 50%; margin-left: -20px; }

.flex-direction-nav li { display: -moz-inline-stack; display: inline-block; vertical-align: middle; *vertical-align: auto; zoom: 1; *display: inline; }

.flex-direction-nav a { display: -moz-inline-stack; display: inline-block; vertical-align: middle; *vertical-align: auto; zoom: 1; *display: inline; text-indent: -999em; overflow: hidden; position: relative; }

.flex-direction-nav .flex-prev { background: url('../img/icons-sd97dcd483d.png') 0 -787px no-repeat; width: 10px; height: 23px; left: -30px; z-index: 10; }

.flex-direction-nav .flex-next { background: url('../img/icons-sd97dcd483d.png') 0 -820px no-repeat; width: 10px; height: 23px; right: -30px; z-index: 10; }

.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover { opacity: 1; }

.flex-direction-nav a.flex-next:before { background: url('../img/icons-sd97dcd483d.png') 0 -820px no-repeat; width: 10px; height: 23px; }

/* Pause/Play */
.flex-pauseplay a { display: block; width: 20px; height: 20px; position: absolute; bottom: 5px; left: 10px; opacity: 0.8; z-index: 10; overflow: hidden; cursor: pointer; color: #000; }

.flex-pauseplay a:before { font-family: "flexslider-icon"; font-size: 20px; display: inline-block; content: '\f004'; }

.flex-pauseplay a:hover { opacity: 1; }

.flex-pauseplay a.flex-play:before { content: '\f003'; }

/* Control Nav */
.flex-control-nav { width: 100%; text-align: center; padding-top: 16px; padding-top: 1rem; position: relative; z-index: 10; }

.flex-control-nav li { margin: 0 2px; display: inline-block; zoom: 1; *display: inline; }

.flex-control-paging li a { display: block; cursor: pointer; color: #937d55; line-height: 1.5; background: url('../img/icons-sd97dcd483d.png') 0 -760px no-repeat; width: 17px; height: 17px; }

.flex-control-paging li a.flex-active { cursor: default; color: #aa3c0f; font-weight: bold; }

.flex-control-thumbs { margin: 5px 0 0; position: static; overflow: hidden; }

.flex-control-thumbs li { width: 25%; float: left; margin: 0; }

.flex-control-thumbs img { width: 100%; display: block; opacity: .7; cursor: pointer; }

.flex-control-thumbs img:hover { opacity: 1; }

.flex-control-thumbs .flex-active { opacity: 1; cursor: default; }

@media screen and (max-width: 860px) { .flex-direction-nav .flex-prev { opacity: 1; left: 10px; }
  .flex-direction-nav .flex-next { opacity: 1; right: 10px; } }
body { position: relative; font-family: 'Open Sans', sans-serif; color: #372d2d; }

a { color: #c23105; }
a:hover { text-decoration: none; }

.logo { float: left; position: relative; padding-left: 70px; line-height: 70px; vertical-align: middle; }
.logo .icon_logo { background: url('../img/icons-sd97dcd483d.png') 0 -389px no-repeat; width: 65px; height: 65px; position: absolute; left: 0; top: 6px; display: -moz-inline-stack; display: inline-block; vertical-align: middle; *vertical-align: auto; zoom: 1; *display: inline; z-index: 200; }
.logo a { color: #372d2d; text-decoration: none; display: -moz-inline-stack; display: inline-block; vertical-align: middle; *vertical-align: auto; zoom: 1; *display: inline; }
.logo .logo2 { background: url('../img/icons-sd97dcd483d.png') 0 0 no-repeat; width: 30px; height: 379px; position: absolute; left: 20px; top: 100%; display: -moz-inline-stack; display: inline-block; vertical-align: middle; *vertical-align: auto; zoom: 1; *display: inline; margin-top: 30px; }

.contact { float: right; padding: 12px 0 0; }
.contact .phone { position: relative; padding-top: 0.6rem; }
.contact .phone .icon_kvadrat_big { top: 10px; }
.contact .phone:hover .ico-phone { -webkit-animation: rotation_ring 100ms alternate infinite linear; animation: rotation_ring 100ms alternate infinite linear; }
.contact .phone p { padding: 0 0 0.1rem; font-size: 14px; font-weight: 600; vertical-align: baseline; }
.contact .phone p .name { display: -moz-inline-stack; display: inline-block; vertical-align: middle; *vertical-align: auto; zoom: 1; *display: inline; width: 4rem; font-weight: normal; vertical-align: baseline; }
.contact .ico-phone { background: url('../img/icons-sd97dcd483d.png') 0 -579px no-repeat; width: 25px; height: 38px; position: absolute; left: -50px; top: 13px; display: -moz-inline-stack; display: inline-block; vertical-align: middle; *vertical-align: auto; zoom: 1; *display: inline; }

footer { background: url(../img/bg_footer.png) center 0 repeat; position: absolute; bottom: 0; width: 100%; height: 79px; overflow: hidden; border-top: 1px solid #baaa61; }
footer .copyright { float: right; }

.main_wrap, .header_wrap, .footer_wrap { margin: auto; width: 940px; }

.footer_wrap { padding-top: 17px; padding-left: 90px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.footer_wrap .copyright { background: url(../img/bg_copyright.png) 0 0 no-repeat; margin-top: -17px; padding: 17px 30px 17px; width: 170px; }

.main_image { background: url('../img/rgbapng/ffffff73-5.png?1378189241'); background: rgba(255, 255, 255, 0.45); border: 1px solid #c5b57d; overflow: hidden; margin-bottom: 10px; }
.main_image h2 { float: left; width: 150px; text-align: center; padding: 50px 25px; font-size: 18px; font-weight: 600; text-transform: uppercase; }
.main_image h2 .icon_main-image { background: url('../img/icons-sd97dcd483d.png') 0 -521px no-repeat; width: 50px; height: 48px; display: block; margin: 40px auto 0; }
.main_image img { overflow: hidden; display: block; float: right; }

.slider ul li figure { position: relative; border: 1px solid #baaa61; }
.slider ul li figure img { display: block; }
.slider ul li figure figcaption { background: url('../img/rgbapng/ffffff73-5.png?1378189241'); background: rgba(255, 255, 255, 0.45); -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; position: absolute; width: 100%; color: #372d2d; bottom: 0; padding: 2px 10px; }

.block { padding-top: 20px; }
.block article { padding-bottom: 32px; padding-bottom: 2rem; }
.block article h2 { color: #9f320f; font-size: 18px; font-weight: 600; font-style: italic; position: relative; }
.block article h2 .icon_footer_adress { left: -65px; top: 50%; margin-top: -23px; }
.block article h2 a { color: #9f320f; text-decoration: none; }
.block article h2 a:hover { text-decoration: underline; }

.sidebar_menu { list-style: none; }
.sidebar_menu > li { padding: 0 0 10px 45px; background: url(../img/select.png) 0 0 no-repeat; line-height: 30px; position: relative; font-size: 15px; font-weight: 600; font-style: italic; }
.sidebar_menu > li.active ul, .sidebar_menu > li:hover ul { left: 0; position: relative; }
.sidebar_menu > li > a { text-decoration: none; color: #9f320f; }
.sidebar_menu > li:hover > span { -webkit-transform: rotate(240grad); -moz-transform: rotate(240grad); -ms-transform: rotate(240grad); -o-transform: rotate(240grad); transform: rotate(240grad); filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50); opacity: 0.5; }
.sidebar_menu > li span { position: absolute; display: -moz-inline-stack; display: inline-block; vertical-align: middle; *vertical-align: auto; zoom: 1; *display: inline; -webkit-transition: 400ms all; -moz-transition: 400ms all; -o-transition: 400ms all; transition: 400ms all; }
.sidebar_menu > li .icon_contact { background: url('../img/icons-sd97dcd483d.png') 0 -662px no-repeat; width: 17px; height: 26px; left: 7px; top: 4px; }
.sidebar_menu > li .icon_article { background: url('../img/icons-sd97dcd483d.png') 0 -727px no-repeat; width: 19px; height: 23px; left: 6px; top: 6px; }
.sidebar_menu > li .icon_veer { background: url('../img/icons-sd97dcd483d.png') 0 -627px no-repeat; width: 29px; height: 25px; left: 1px; top: 4px; }
.sidebar_menu > li .icon_video { background: url('../img/icons-sd97dcd483d.png') 0 -698px no-repeat; width: 24px; height: 19px; left: 4px; top: 7px; }
.sidebar_menu > li ul { margin: 5px 0 0px -32px; padding: 0; position: absolute; left: -999em; }
.sidebar_menu > li li { list-style: none; margin: 0; line-height: 20px; padding-left: 32px; background: url(../img/checkbox.png) 0 center no-repeat; color: #000; font-size: 12px; }
.sidebar_menu > li li:hover, .sidebar_menu > li li.active { background: url(../img/checkbox_check.png) 0 center no-repeat; }
.sidebar_menu > li li a { color: #000; font-weight: normal; font-style: normal; text-decoration: none; }
.sidebar_menu > li li a:hover { text-decoration: underline; }

.footer_adress { float: left; padding: 5px 0 0 20px; position: relative; }
.footer_adress p { font-size: 14px; font-weight: 600; }
.footer_adress .icon_kvadrat_big { left: -50px; -webkit-animation: rotation 4s infinite linear; animation: rotation 4s infinite linear; }

.icon_kvadrat_big { background: url('../img/icons-sd97dcd483d.png') 0 -464px no-repeat; width: 48px; height: 47px; display: -moz-inline-stack; display: inline-block; vertical-align: middle; *vertical-align: auto; zoom: 1; *display: inline; position: absolute; left: -65px; top: 0; }

@-webkit-keyframes rotation { from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); } }

@keyframes rotation { from { transform: rotate(0deg); }
  to { transform: rotate(360deg); } }

@-webkit-keyframes rotation_ring { from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(15deg); } }

@keyframes rotation_ring { from { transform: rotate(0deg); }
  to { transform: rotate(15deg); } }

.button { padding: 9px 14px; font-size: 12px; line-height: normal; border-radius: 5px; display: inline-block; }

.button_large { font-size: 30px; }

.greenbutton { padding: 9px 14px; font-size: 12px; line-height: normal; border-radius: 5px; background: green; color: #fff; text-shadow: 0 -1px 0 #000; display: inline-block; }
.greenbutton i { width: 10px; height: 10px; background: pink; display: inline-block; margin-right: 10px; }

.greenbutton_large { font-size: 30px; }
