// Normally mainpage styles
body {
    position: relative;
    font-family: 'Open Sans', sans-serif;
    color: #372d2d;
}
a {
    color: #c23105;
    &:hover {
        text-decoration: none;
    }
}
.logo {
    float: left;
    position: relative;
    padding-left: 70px;
    line-height: 70px;
    vertical-align: middle;
    .icon_logo {
         @include sized-sprite($icons, "logo"); 
         position: absolute;
        left: 0;
        top: 6px;        
        @include inline-block;
        z-index: 200;
    }
    a {
        text-decoration: none;
        @include inline-block;
    }
    .logo2 {
         @include sized-sprite($icons, "logo2"); 
        position: absolute;
        left: 20px;
        top: 100%;
        @include inline-block;
        margin-top: 30px;
    }
}
.contact {
    float: right;
    padding: 12px 0 0;
    .phone {
        position: relative;
        padding-top: 0.6rem;
        .icon_kvadrat_big {
            top: 10px;

        }

        &:hover .ico-phone{
            -webkit-animation: rotation_ring 100ms alternate infinite linear;
            animation: rotation_ring 100ms alternate infinite linear;

        }
        p {
            padding: 0 0 0.1rem;
            font-size: 14px;
            font-weight: 600;
            vertical-align: baseline;
            .name {
                @include inline-block;
                width: 4rem;
                font-weight: normal;
                vertical-align: baseline;
            }
        }
    }
    .ico-phone {
        @include sized-sprite($icons, "phone"); 
        position: absolute;
        left: -50px;
        top: 13px;
        @include inline-block;

    }
}

footer {
	background: url(../img/bg_footer.png) center 0 repeat;
    position: absolute;
    bottom: 0;	
    width: 100%;
    height: 79px;
    overflow: hidden;
    border-top: 1px solid #baaa61;
    .copyright {
        float: right;
    }
}
%wrap {
	margin: auto;
	width: 940px;
}
.header_wrap {
	@extend %wrap;	
}
.footer_wrap {
	@extend %wrap;
    padding-top: 17px;
    padding-left: 90px;
    @include box-sizing(border-box);
    .copyright {
        background: url(../img/bg_copyright.png) 0 0 no-repeat;
        margin-top: -17px;
        padding: 17px 30px 17px;
        width: 170px;

    }
}


.main_image {
    @include rgba-background(rgba(255,255,255,0.45));
    border: 1px solid #c5b57d;
    overflow: hidden;
    margin-bottom: 10px;
    h2 {
        float: left;
        width: 150px;
        text-align: center;
        padding: 50px 25px;
        font-size: 18px;
        font-weight: 600;
        text-transform: uppercase;
        .icon_main-image {
            @include sized-sprite($icons, "kvadrat"); 
            display: block;
            margin: 40px auto 0;
        }
    }
    img {
        overflow: hidden;
        display: block;
        float: right;
    }
}
.slider ul{
    li {
        
        figure {
            position: relative;
            border: 1px solid #baaa61;
            img {
                display: block;
            }
            figcaption {
                @include rgba-background(rgba(255,255,255,0.45));
                @include box-sizing(border-box);
                position: absolute;
                width: 100%;
                color: #372d2d;
                bottom: 0;
                padding: 2px 10px;
            }
        }
    }
}
.block {
    padding-top: 20px;
    article {
        padding-bottom: 32px;
        padding-bottom: 2rem;
        h2 {
            color: #9f320f;
            font-size: 18px;
            font-weight: 600;
            font-style: italic;
            position: relative;
            .icon_footer_adress {
                left: -65px;
                top: 50%;
                margin-top: -23px;
            }
            a {
                color: #9f320f;
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}
.sidebar {

}
.sidebar_menu {
    list-style: none;
    &>li {
        padding:0 0 10px 45px;
        background: url(../img/select.png) 0 0 no-repeat;
        line-height: 30px;
        position: relative;
        font-size: 15px;
        font-weight: 600;
        font-style: italic;
        &.active ul,
        &:hover ul{
            left: 0;
            position: relative;
        }
        &>a {
            text-decoration: none;
            color: #9f320f;
        }
        &:hover > span{
                @include transform(rotate(240grad));
                @include opacity(0.5);
            }
        span {
                position: absolute;
                @include inline-block;
                @include transition(400ms all);
            }
        .icon_contact {
            @include sized-sprite($icons, "phone_small"); 
            left: 7px;
            top: 4px;
        }
        .icon_article {
            @include sized-sprite($icons, "stati"); 
            left: 6px;
            top: 6px;
        }
        .icon_veer {
            @include sized-sprite($icons, "veer"); 
            left: 1px;
            top: 4px;
        }
        .icon_video {
            @include sized-sprite($icons, "video"); 
            left: 4px;
            top: 7px;
        }
        ul {
            margin: 5px 0 0px -32px;
            padding: 0;
            position: absolute;
            left: -999em;
        }
        li {
            list-style: none;
            margin: 0;
            line-height: 20px;
            padding-left: 32px;
            background: url(../img/checkbox.png) 0 center no-repeat;
            color: #000;
            font-size: 12px;
            &:hover,
            &.active {
                background: url(../img/checkbox_check.png) 0 center no-repeat;
            }
            a {
                color: #000;
                font-weight: normal;
                font-style: normal;
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}
.footer_adress {
    float: left;
    padding: 5px 0 0 20px;
    position: relative;

    p {
        font-size: 14px;
        font-weight: 600;

    }
    .icon_kvadrat_big {
        left: -50px;
        -webkit-animation: rotation 4s infinite linear;
        animation: rotation 4s infinite linear;
    }
    
}
.icon_kvadrat_big {
        @include sized-sprite($icons, "select_big"); 
        @include inline-block;
        position: absolute;
        left: -65px;
        top: 0;
    }
@-webkit-keyframes rotation {
    from {-webkit-transform: rotate(0deg);}
    to   {-webkit-transform: rotate(360deg);}
}
@keyframes rotation {
    from {transform: rotate(0deg);}
    to   {transform: rotate(360deg);}
}

@-webkit-keyframes rotation_ring {
    from {-webkit-transform: rotate(0deg);}
    to   {-webkit-transform: rotate(15deg);}
}
@keyframes rotation_ring {
    from {transform: rotate(0deg);}
    to   {transform: rotate(15deg);}
}

